<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
      <meta http-equiv='Content-Security-Policy' content='block-all-mixed-content'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    koala· 专注于吹牛逼
</title>
<meta name="description" content="koala">
<meta name="author" content="jsdroid.com">
<link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
  <link href="../static/dist/css/full.css" rel="stylesheet">
<link href="../static/assets/css/docs.css" rel="stylesheet">
<link rel="apple-touch-icon" href="../static/hj.png">
<link rel="icon" href="../static/hj.png">
  </head>
  <body class="bd-home">
    <header class="navbar navbar-expand-md bd-navbar">
      <nav class="container navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand logo-frozenui" href="#">
            koala
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="bd-main-nav">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-item nav-link active" href="#">首页</a>
            </li>
            <li class="nav-item">
              <p class="nav-item nav-link sb"  target="_blank" >在线文档</p>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link " href="https://pan.baidu.com/s/14zg5XT5akYmfaIkHsRcT2w" target="_blank">网盘下载</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" target="_blank" href="https://github.com/koala9527">GitHub</a>
            </li>
                          <li class="nav-item">
              <a class="nav-item nav-link" target="_blank" href="homes">test</a>
            </li>
          </ul>
        </div>
      </nav>
</header>

    <main class="bd-masthead" id="content" role="main">
  <div class="container">
        <p class="logo-img"><img src="../static/hj.png" width="100%" alt="jsdroid"></p>
        <p class="lead">koala是一款全新的吹牛逼框架<br>实现了中文吹牛逼、全世界找牛找逼、远程吹牛逼等功能。</p>
        <p class="lead">
            <p  class="btn btn-lg btn-download sb" onclick="" target="_blank">在线文档</p>
          <a href="https://pan.baidu.com/s/14zg5XT5akYmfaIkHsRcT2w" class="btn btn-lg btn-download" onclick="" target="_blank">网盘下载</a>
        </p>
        <p class="version">当前版本 v9.9.9</p>
  </div>
</main>
<div class="bd-featurette">
  <div class="container">
    <h2 class="bd-featurette-title">简单易用，轻量快捷</h2>
    <hr class="half-rule">
    <div class="lead index-info">
        <p>koala是将贫困山区网瘾骚年搬出来，结合cnb的chuiniubi引擎，升级打造的一款全新的吹牛逼框架，在原生功能的基础上实现了中文吹牛逼、全世界找牛找逼、远程吹牛逼等功能。</p>
        <p>既然有吹牛，为啥还要吹逼呢，吹牛逼=吹牛+吹逼,吹牛逼机器人,koala（吹牛逼）帮助您完成自动化吹牛逼，您只需要会吹，就能完成吹牛逼的所有功能。</p>
        <p>吹牛逼更倾向于吹，吹得更快速，更便捷，吹牛逼传输更小巧，热更新，快速部署，如果能够开发成熟，远程吹多种牛逼，实现云吹牛逼。</p>
        <p>为了让大家更加容易使用koala，团队也开发了一款吹牛逼器，叫做吹牛逼IDE，借用了吹牛逼语法高亮吹牛逼器，智能吹牛逼提示，模仿CUI吹牛逼实现了吹牛逼工具，吹牛逼工具增加了找吹找逼的工具面板。</p>
    </div>
  </div>
</div>
    <footer class="bd-footer text-muted">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/koala9527">GitHub</a></li>
      <li>
          贫困山区网瘾骚年 官方QQ群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idke">182440207</a> <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e30764447dfa596eedbe67ca50195076d0461de311f70911a0a42f91c7c6fbe0"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="贫困山区网瘾骚年" title="贫困山区网瘾骚年"></a>
      </li>
    </ul>
    <p></p>
    <p>©2018 贫困山区网瘾骚年</p>
    </div>
</footer>
<script src="../static/dist/js/jquery-3.3.1.min.js"></script>
    <script src="../static/dist/js/canvas-nest.js"></script>
<script src="../static/dist/js/popper.min.js"></script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="../static/assets/js/vendor/tether.min.js"></script>
  <script src="../static/dist/js/index.js"></script>
  <script src="../static/assets/js/vendor/anchor.min.js"></script>
  <script src="../static/assets/js/vendor/clipboard.min.js"></script>
  <script src="../static/assets/js/vendor/holder.min.js"></script>
  <script src="../static/assets/js/src/application.js"></script>
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../static/assets/js/ie-emulation-modes-warning.js"></script>

<script>

 		$(".sb").click(function(){
        alert("怎么可能有文档？？？？")
    })
</script>

  </body>
</html>
